<h3>Angular 4 - Project 4: Show List With Pipes & Custom Pipes</h3>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr class="info">
            <th width="20%">Name</th>
            <th width="40%">Input</th>
            <th width="40%">Output</th>
        </tr>
    </thead>
    <tbody>
        <!--UpperCase-->
        <tr>
            <td >uppercase</td>
            <td >{{courseObj.name}}</td>
            <td >{{courseObj.name | uppercase }}</td>
        </tr>
        

        <!--lowerCase-->
        <tr>
            <td >lowercase</td>
            <td >{{courseObj.name}}</td>
            <td >{{courseObj.name | lowercase }}</td>
        </tr>
         <!--slicepipes-->
         <tr>
            <td > slice - string - pipes</td>
            <td >{{str}}</td>
            <td > {{str | slice:0:4}} --- {{str | slice:5:9}}</td>
        </tr>
         <!--slicepipes-->
         <tr>
            <td > slice -array - pipes</td>
            <td >
                <ul> <li *ngFor=" let course of courseObj.require">{{course}}</li> </ul>
            </td>
            <td > {{courseObj.require | slice:-1 }}</td>
        </tr>  
         <!--decimal-->
         <tr>
            <td >decimal</td>
            <td >{{courseObj.price}}</td>
            <td > {{ courseObj.price | number:'3.4-5' }}</td>  <!--1 là số phần nguyên muốn hiển thị . 4 là số phần thập phân -->
        </tr>   
        <!--percent-->
        <tr>
            <td >percent</td>
            <td >{{percentA}}</td>
            <td > {{ percentA | percent: '3.0-3'}}</td>  
        </tr>  
        <!--currency-->
        <tr>
            <td >currency</td>
            <td >{{numberA}}</td>
            <td > {{numberA | currency:'VND': 'symbol': '6.0-1' }}</td>  
        </tr> 
        <!--date pipes-->
        <tr>
            <td >datePipes</td>
            <td >{{courseObj.date}}</td>
            <td > {{courseObj.date | date: 'dd-MM-y' }}</td>  
        </tr>   
         <!--JSon-->
         <tr>
            <td >Json - Nếu muốn đọc chuỗi Json thì vào gg đánh jsononline sẽ được</td>
            <td >{{courseObj}}</td>
            <td > {{courseObj | json }}</td>  
        </tr>
        <!--Chaining - kết hợp nhiều pipes-->
        <tr>
            <td >Chaining - kết hợp nhiều pipes</td>
            <td >{{courseObj}}</td>
            <td > {{courseObj | json |uppercase }}</td>  
        </tr>         
    </tbody>
</table>

<h3>Angular 4 - Project 4: Custom Pipes</h3>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr class="info">
            <th width="20%">Name</th>
            <th width="40%">Input</th>
            <th width="40%">Output</th>
        </tr>
    </thead>
    <tbody>
        <!--capitalize-->
        <tr>
            <td >Capitalize</td>
            <td >{{text}}</td>
            <td >{{text | capitalize }}</td>
        </tr>
         <!--array-->
         <tr>
            <td >array</td>
            <td >
                <ul><li *ngFor="let x of arr">{{x}}</li></ul>
            </td>
            <td >
                <ul><li *ngFor="let x of arr | array: 'sort' : 'odd'">{{x}}</li></ul>
            </td>
        </tr>
        <!--summary-->
        <tr>
            <td >summary</td>
            <td >{{summary}} </td>
            <td >{{summary | summary: 30 :' ******' }} </td>
        </tr>
        <!--category-->
        <tr>
            <td >category - loại bỏ các phần tử lặp lại trong mảng</td>
            <td >
                <ul><li *ngFor="let x of category">{{x}}</li></ul> 
            </td>
            <td >{{category | category |capitalize}} </td>
        </tr>
    </tbody>
</table>



  