<div class="row">
    <div class= "col-sx-12 col-sm-12-col-md-12">
        <div class="panel panel-primary">
            <div class="panel panel-heading">Bài 1 Vote Status</div>
            <div class="panel panel-body">
                <p>Nội dung bình luận</p>
                <p style="margin-top:0px; background-color:pink">
                   <a href="#" (click)="change_name($event)">
                       <span class="label label-info " style="margin-left:15px; border-top:20px" >lable</span><br>
                    </a>                     

                    <span class="label label-info "> <a href="#" (click)="change_name($event)">lable</a> </span>
                   <a href="#" (click)="change_name($event)"><span class="label label-default ">lable</span></a>
                    
                </p>                
            </div>
        </div>
    </div>
</div>


