<div class="row">
    <div class= "col-sx-12 col-sm-12-col-md-12">
        <div class="panel panel-info">
            <div class="panel panel-heading">Bài 1 Vote Status</div>
            <div class="panel panel-body">
                <p>{{status}}</p>               <!--mousseleve khi con trỏ ra khỏi thẻ, con mousseout là khi con trỏ chuột bắt đầu ra -->
                <div style="margin-top:0px; background-color:pink" (mouseleave)="change_show(false)" >
                   <p >
                       <span class="label label-info" (mouseover)="change_show(true)" >{{name}}</span><br>
                   </p>               
                  
                   <div *ngIf="showvote" (mouseleave)="change_show(false)" class="btn-group" >
                        <button type="button" (click)="change_name(vote)"  *ngFor="let vote of votes" class="btn btn-default">
                            {{vote}}
                        </button>
                    </div>
                    
                </div>                
            </div>
        </div>
    </div>

    <div class= "col-sx-12 col-sm-12-col-md-12">
        <div class="panel panel-info">
            <div class="panel panel-heading">Bài 2 Form validate</div>
            <div class="panel panel-body">
                <form >
                    <div class="form-group " [class.has-feedback]="flagName">
                        <label class="control-label">Name</label>          
                        <input class="form-control" (keyup)="checkName($event)" >
                        <span  class=" form-control-feedback glyphicon {{iconName}} " ></span> <!--form-control-feedback để diều khiển phản hồi của glyphicon-->
                    </div>
                    <div class="form-group" [class.has-feedback]="flagEmail">
                        <label class="control-label">Email</label>
                        <input class="form-control" (keyup)="checkEmail($event)">
                        <span class="glyphicon {{iconEmail}} form-control-feedback"></span>
                    </div>                    
                    <button class="btn btn-primary" type="submit" [disabled]="!checkButton" >Gửi</button>
                    
                </form>                
            </div>
        </div>
    </div>
</div>


