.aoxanh{color:red;background-color:green}
.aodo{background-color:pink}
.aovang{background-color:yellow}
.blue{background-color: yellow;color: green}
.black{background-color: black; color: white}
.white{background-color: white;color: red;font-weight: bold}