<div class="row">
  <div class="col-sx-12 col-sm-12 col-md-12">
      <div class="panel panel-primary">
          <div class=" panel panel-heading">Form</div>
          <div class="panel panel-body" >
                <form (submit)="onClick(nameForm)" #nameForm="ngForm">                    
                    <label>Email: </label> <input class="form-control" placeholder="Email" ngModel name="email" required > <!--required: yêu cầu phải nhập-->
                    <!--viết thêm một thẻ p để nếu chưa nhập email thì hiện thông báo-->
                    <span *ngIf="nameForm.controls.email?.errors?.required"><!--nếu email tồn tại, nếu error tồn tại-->
                      Enter your email
                    </span>                    
                    
                    <br><br>
                    <label>Passwords</label> 
                    <input 
                        class="form-control" 
                        type="password"
                        placeholder="Passwords"
                        [(ngModel)]="pass" 
                        name="pass"
                        required
                        #txtPass="ngModel"
                        pass
                    >   <!--touched là khi rời khỏi input-->
                    <p *ngIf="txtPass.touched && txtPass.errors?.required"><!--sử dụng txtPass này ngắn gọn hơn-->
                      Enter your pass
                    </p> 
                    <p>{{txtPass.errors | json}}</p>
                      <br><br>
                      <button class="btn btn-primary" [disabled]="nameForm.invalid">Summit</button>                
                </form>
               
          </div>
      </div>
  </div>
</div>
<br><br>