
<div class="panel panel-info">
    <div class="panel panel-heading">App Component</div>
    <div class="panel phanel-body">
         <p [ngStyle]="{'color': controlColor}">Control Component</p>
         <button class="btn btn-danger" (click)="changeColor('red')" >Red</button>
         <button class="btn btn-primary" (click)="changeColor('blue')" >blue</button>
         <button class="btn btn-success" (click)="changeColor('yellow')" >Yellow</button><hr>
         <p>Input và Output cung cấp</p>
    </div>
</div>
