<div class="row">
    <div class="col-sx-12 col-sm-6 col-md-6">
        <div class="panel panel-info">
            <div class="panel panel-heading">Template Reference variables</div>
            <div class="panel panel-body">
                <h2>Sử dụng dấu #</h2>
                <input #phone placeholder="phone number">
                <button (click)="callPhone(phone.value)" class="btn btn-primary">Call</button>
                <h2>Sử dụng dấu ref</h2>
                <input ref-phone placeholder="phone number">
                <button (click)="callPhone(phone.value)" class="btn btn-primary">Call</button>
            </div>
        </div>
    </div>
    <div class="col-sx-12 col-sm-6 col-md-6">
        <div class="panel panel-primary">
            <div class="panel panel-heading">abc</div>
            <div class="panel panel-body">
                <h2>hhhh</h2>
            </div>        
        </div>
    </div>
</div>