<div class="row">
    <div class="col-sx-12 col-sm-12 col-md-12" style=" text-align:left">
            <h1 >Theme <small>Setting</small></h1>            
    </div>
</div>
<div class="row">
    <div class="col-sx-12 col-sm-12 col-md-12" style="background-color:pink">
            <h4 >Data <small>Binding</small></h4>
    </div>
    <div class="col-sx-12 col-sm-6 col-md-6">
        <div class="panel panel-primary">
            <div class="panel panel-heading"><h2 class="panel-title">Interpolation</h2></div>
            <div class="panel panel-body">
                    <h4>Họ và tên: {{ten}}</h4>
                    <h4>Năm sinh {{2017-namsinh}}</h4>
                    <h4>Sở thích Game: {{sothich.game}}-Sở thích học: {{sothich.hoc}}</h4>
                    <h4>Phần tử thứ nhất của mảng: {{mang[0]}}</h4>
                    <img [src]="hinh" width="300" />
                   
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel panel-heading"><h2 class="panel-title">Property</h2></div>
            <div class="panel panel-body">
                  <a href="{{ link }}">Angular</a><br>  <!--cách 1-->
                  <a [href]="link">Angular</a><br>  <!--cách 2 sử dụng []="expression"-->
                  <a [attr.href]="link">Angular</a><br>  <!--cách 2 sử dụng [attr.property]="expression" -->
                  <a bind-href="link">Angular</a><br>  <!--cách 2 sử dụng bind-property="expression" -->                  

            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel panel-heading"><h2 class="panel-title">Class</h2></div>
            <div class="panel panel-body">
                <div class="aoxanh">Xin Chào</div>  
                <div [class.aodo]="mac_ao">Hello</div>  
            </div>
        </div>
    </div>

    <div class="col-sx-12 col-sm-6 col-md-6">
        <div class="panel panel-primary">
            <div class="panel panel-heading"><h2 class="panel-title">Style</h2></div>
            <div class="panel panel-body">
                <h4 [style.color]="'red'" >Tên bài hát:  {{ten}}</h4>  <!--phải có dấu nháy đơn-->
                <h4 [style.color]="mauchu" >Tên bài hát:  {{ten}}</h4> <!--không có dấu nháy đơn-->   <!--ràng buộc style-->
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel panel-heading"><h2 class="panel-title">Event</h2></div>
            <div class="panel panel-body">
                <button class="btn btn-primary" on-click="click($event)">Click</button><br><br>   <!--cách 1 on-sự kiện="expression" --> 
                <div (click)="click_div()" style="background-color:yellow">
                        <button class="btn btn-primary" on-click="click_btn($event)">Click</button>
                </div>
                <br><br>

                <img 
                    (click)="click_hinh($event)" src="{{hinh}}" [attr.logo]="mauchu" 
                /> 
                <!--Ràng buộc attr. Để viết sự kiện ta lấy sự kiện trong java bỏ
                            on rooid viết chữ thường sau đó viết hàm cho nó.-->       <!--cách  (sự kiện)="expression" -->    
               
                <h3>Tag</h3>
                <input type="text" placeholder="Tag" class="form-control" name="tag" (keyup)="onkeyup($event)">
                <p id="resuls-tag" style="margin-top:15px">
                    <span class="label label-info">Lable</span>
                </p>
            </div>
        </div>

        <div class="panel panel-primary">
                <div class="panel panel-heading"><h2 class="panel-title">Two Way Binding</h2></div>
                <div class="panel panel-body">
                    <!--
                        Để chạy được two way binding thì trong file app.module.ts ta phải đăng ký 
                        import { FormsModule } from '@angular/forms'; và   FormsModule trong imports
                        thì mới chạy được
                    -->
                    <input type="text" placeholder="Họ tên" class="form-control" [(ngModel)]="name"><!--phải khai báo biến name bên file ts-->
                    <p style="margin-top:20px; color:red"><b>Họ và tên: {{name}}</b></p>
                </div>
        </div>
    </div>
</div>